.button_consultation {
    background: #F01847;
}

.button_consultation:hover {
    background: #FF335F;
    box-shadow: 0px 4px 40px rgba(240, 24, 71, 0.64);
}

.button_consultation:active {
    background: #CC0F38;
}

.price__content .button_consultation {
    justify-self: end;
    align-self: center;
}

@media all and (max-width: 600px)  {
    .price__content .button_consultation {
        justify-self: center;
    }
    
}