.footer__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}


@media all and (max-width: 1024px) {
    .footer__items {
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: center;
    }
}