.cards__li {
    padding-top: 15px;
}

.cards__ps .cards__li {
    padding-top: 50px;
}
@media all and (max-width: 1024px)  {
    .cards__li {
        padding-top: 10px;
    }

    .cards__ps .cards__li {
        padding-top: 40px;
    }
}