.cards__item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    box-shadow: 0px 4px 10px rgba(34, 164, 222, 0.64);
    border-radius: 48px;
    padding: 20px;
    gap: 20px;
}