.background {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    background: no-repeat;
    background-image: url(../../images/SHU_Flugreise_trotz_.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* display: grid;
    justify-content: center;
    grid-template-columns: 1fr; */
}



@media all and (max-width: 600px)  {
    .background {
        background-position: 60% 0%;
    }
}