.section {
    box-sizing: border-box;
    padding: 104px 100px;
    max-width: 1440px;
    width: 100%;
    position: relative;
}


@media all and (max-width: 1200px)  {
    .section {
        padding: 80px 40px;
    }
}

@media all and (max-width: 600px)  {
    .section {
        padding: 20px 10px;
    }
}